@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container_button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 1000px;
  margin: 20px 0;
}

.link_styles {
  text-decoration: none;
}

.add_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  cursor: pointer;
  background: #3c3C3C;
}

.add_button:hover {
  background: #FAFAFA;
}

.btn_text {
  font-size: 1rem;
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.btn_text:hover {
  color: #3c3C3C;
}

.add_btn_img {
  display: none;
}

