@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container_button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
}

.link_styles {
  text-decoration: none;
}

.add_button {
  margin: 5px;
  width: 190px;
  height: 50px;
  background-color: #252440;
  border: solid #252440 1.5px;
  cursor: pointer;
  color: #FAFAFA;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s;
  font-size: 14px;
  font-weight: bold;
}

.add_button:hover {
  background-color: #F2F2F2;
  color: #252440;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  font-size: 12px;
}

.btn_text:hover {
  color: #252440;
}

.add_btn_img {
  display: none;
}

