.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imgTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../../public/assets/images/involucradoMenu11.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.imgText {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.tableTop {
  margin-bottom: 10px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #3C3C3C;
}

.personalDataBoolean {
  display: flex;
  justify-content: space-evenly;
}

.title {
  color: #fafafa;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
}

.innerContainer {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  overflow: visible;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -64px;
  margin-bottom: 32px;
  background-color: #F2F2F2;
  backdrop-filter: saturate(200%) blur(30px);
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}

.submitButton {
  display: inline;
  background-color: var(--Green);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  margin-button: 10px;
}

.submitButton:hover {
  background-color: var(--Blue);
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.inputGroups {
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-top: 10px;
}

.inputColumnPad {
  padding-left: 5px;
  padding-right: 15px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
  max-width: 460px;
}

