.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../public/assets/images/menuimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.switchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 756px;
}

footer {
  display: flex;
  align-self: flex-end;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

