.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #3C3C3C;
  color: #FAFAFA;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 6px 30px -7px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
}

.table tr td,
.table tr th {
  padding: 15px 10px 15px 20px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  transition: all 0.1s;
}

.table tr:hover {
  max-width: 280px;
  background-color: #3C3C3C;
  color: #fff;
  cursor: pointer;
}

.rowBackground1 {
  background-color: #FAFAFA;
  color: #3C3C3C;
  font-weight: bold;
}

.rowBackground2 {
  background-color: #ffffffc4;
  color: #3C3C3C;
  font-weight: bold;
}

.checkboxInput {
  width: 18px;
  height: 18px;
  margin-left: 22px;
}

.trash_edit {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
