.container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  padding: 15px 17px 15px 17px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #252440;
  color: #FAFAFA;
  border: 3px solid #ECECEC;
  overflow: hidden;
}

.table tr td,
.table tr th {
  padding: 10px 5px 10px 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: 80px;
  transition: all 0.1s;
  font-size: 15px;
}

.table tr:hover {
  max-width: 280px;
  background-color: #3C3C3C;
  color: #fff;
  cursor: pointer;
}

.rowBackground1 {
  background-color: #f0f0f1;
  color: #3C3C3C;
  font-weight: bold;
}

.rowBackground2 {
  background-color: #FFFFFF;
  color: #3C3C3C;
  font-weight: bold;
}

.checkboxInput {
  width: 15px;
  height: 15px;
  margin-left: 22px;
}

.trash_edit {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
