.container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  padding: 15px 17px 15px 17px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  padding: 10px 12px 10px 12px;
}

.filter {
  width: 25%;
  height: 20px;
  background: #FAFAFA;
  font-weight: bold;
  border: 3px solid #ECECEC;
  color: #3C3C3C;
  margin-bottom: 10px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  gap: 5px;
}

.filterText {
  color: #BFBFBF;
  outline: none;
  font-size: 16px
}

.buttonPaginate {
  background: #252440;
  color: #FAFAFA;
  border: 3px solid #ECECEC;
  cursor:pointer;
  margin-top: 10px;
}

.activePage {
  background: #252440;
  color: #FAFAFA;
  border: 3px solid #ECECEC;
  cursor:pointer;
}

.eachNumber {
  background: #FAFAFA;
  color: #252440;
  border: 3px solid #ECECEC;
  cursor:pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #252440;
  color: #FAFAFA;
  border: 3px solid #ECECEC;
  overflow: hidden;
}

.tableForm {
  width: 100%;
  border-collapse: collapse;
  background: #252440;
  color: #FAFAFA;
  border: 3px solid #ECECEC;
  overflow: hidden;
}

.table tr td,
.table tr th {
  padding: 10px 5px 10px 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: 80px;
  transition: all 0.1s;
  font-size: 15px;
}

.tableForm tr td,
.tableForm tr th {
  padding: 10px 5px 10px 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: 40px;
  transition: all 0.1s;
  font-size: 12px;
}

.table tr:hover {
  max-width: 280px;
  background-color: #252440;
  color: #fff;
  cursor: pointer;
}

.tableForm tr:hover {
  max-width: 200px;
  background-color: #252440;
  color: #fff;
  cursor: pointer;
}

.rowBackground1 {
  background-color: #f0f0f1;
  color: #3C3C3C;
  font-weight: bold;
}

.rowBackground2 {
  background-color: #FFFFFF;
  color: #3C3C3C;
  font-weight: bold;
}

.checkboxInput {
  width: 15px;
  height: 15px;
  margin-left: 22px;
}

.checkboxInputComprobado {
  width: 15px;
  height: 15px;
  margin-left: 32px;
}

.checkboxInputInspeccion {
  width: 15px;
  height: 15px;
  margin-left: 27px;
}

.checkboxInputSustraida {
  width: 15px;
  height: 15px;
  margin-left: 18px;
}

.checkboxInputPresencia {
  width: 15px;
  height: 15px;
  margin-left: 25px;
}

.checkboxInputActivo {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.checkboxInputAtendido {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}
.trash_edit {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
