.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imgTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../../public/assets/images/inspeccionSiniestroImg2.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.imgText {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 10px;
  padding-top: 2px;
  margin-top: 10px;
  margin-bottom: 0px;
  font: 150% sans-serif;
  color: #252440;
  font-size: 20px;
  font-weight: bold;
}

.entitiesButtons {
  padding-top: 5px;
  margin-right: 15px;
}

.imgArrow {
  margin-top: 10px;
  margin-right: 5px;
}

.formTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  align-items: flex-start
}

.inputContainerDateTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8px;
  padding-left: 27px;
  margin-right: 5px;
}

.inputContainerEstadoTop {
  padding-top: 8px;
}

.inputContainerCheckTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8px;
  margin-right: 27px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start
}

.containerGroups {
  display: flex;
}

.inputContainerDescripcion {
  display: flex;
  align-content: center;
}

.descripcionGroup {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 470px;
  justify-content: center;
  margin-bottom: 8px;
  padding: 10px;
  margin-left: 10px;
  padding-left: 20px;
  border: 3px solid #ECECEC;
}

.caratulaGroup {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  width: 700px;
  justify-content: center;
  margin-bottom: 8px;
  padding: 10px;
  padding-left: 25px;
  border: 3px solid #ECECEC;
}


.innerContainer {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  overflow: visible;
  padding: 16px;
  margin-top: -64px;
  margin-bottom: 32px;
  background-color: #F2F2F2;
  backdrop-filter: saturate(200%) blur(30px);
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}

.inputGroups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
}

.inputContainerArea {
  margin-left: 20px;
  margin-top: 4px;
}

.inputContainerAreaD {
  margin-top: 10px;
  margin-left: 20px;
}

.entitiesButtons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textAreaSpace {
  margin-right: 20px;
}

.textAreasGroup {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  width: 1100px;
  justify-content: center;
  margin-bottom: 8px;
  padding: 10px;
}


.desarrolloGroup {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  width: 1100px;
  justify-content: center;
  margin-bottom: 8px;
  padding: 10px;
}

.desarrolloGroupRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desarrolloGroupRowBot {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgArrow {
  width: 25px;
  height: 25px;
}

.imgArrow {
  transition: transform 0.2s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.inputContainerFecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
  margin-right: 8px;
}


.textAreaColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statsGroup {
  display: flex;
  width: 1100px;
  justify-content: center;
  margin-bottom: 8px;
  padding: 10px;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  padding-left: 25px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 450px;
}

.inputColumnStatsRight {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 5px;
}

.inputColumnStats {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}