.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5c5c5c2;
  width: 60%;
  margin: 30px;
}

.firstGroup {
  display: flex;
  flex-direction: row;
}

.inputContainer {
  padding-top: 5px;
}

.inputGroups {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.title {
  color: #fafafa;
  margin: 0;
  text-transform: uppercase;
}

.textAreaGroup {
  display: flex;
  flex-direction: row;
}

.booleanGroup {
  display: flex;
  flex-direction: column;
}

.entitiesButtons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.secondGroup {
  display: flex;
  flex-direction: row;
}

.dateGroup {
  display: flex;
  flex-direction: row;
}

.thirdGroup {
  display: flex;
  flex-direction: row;
}

.textAreaSpace {
  margin-right: 20px;
}

.fourGroup {
  display: flex;
  flex-direction: row;
}

.eightGroup {
  display: flex;
  flex-direction: row;
}

.nineGroup {
  display: flex;
  flex-direction: row;
}

.textAreasGroup {
  display: flex;
  flex-direction: row;
}

.textAreaColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainerEstado {
  padding-left: 20px;
  padding-top: 8px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #3C3C3C;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}


.submitButton {
  display: inline;
  background-color: var(--Green);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.submitButton:hover {
  background-color: var(--Blue);
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.nameLabel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioContainer div{
  margin: 0 10px;
  font-size: 15px;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}