.container {
  display: flex;
  flex-direction: column;
  background-color: #c5c5c5c2;
  width: 80%;
  margin: 30px;
}

.inputGroups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}

.title {
  color: #fafafa;
  margin: 0;
  text-transform: uppercase;
}

.firstGroup {
  display: flex;
  flex-direction: row;
}

.textAreaGroup {
  display: flex;
  flex-direction: row;
}

.dateGroup {
  display: flex;
  flex-direction: row;
}

.booleanGroup {
  display: flex;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #3C3C3C;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}


.submitButton {
  display: inline;
  background-color: var(--Green);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.submitButton:hover {
  background-color: var(--Blue);
  color: white;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.nameLabel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioContainer div{
  margin: 0 10px;
  font-size: 15px;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}