.normalInput {
  border: 1px solid;
  height: 20px;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-size: 15px;
}

.wrapperLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 170px;
  font-size: 15px;
}

.wrapper  label, .wrapperLeft  label{
  color: #3c3c3c;
  font-weight: bold;
  font-size: 15px;
  outline: none;
}

.normalInput {
  width: 20px;
  margin-left: 10px;
}

.error {
  color: rgb(240, 8, 8);
  font-size: 12px;
  width: 100%;
  margin: 5px 0 5px 0;
}

.errorInput {
  margin-top: 0;
}

.spaceErrorMsg{
  margin-top: 0;
}