.normalInput {
  border: 1px solid;
  height: 25px;
  border-radius: 4px;
}

.wrapper {
 width: 170px;
}

.dateLabel {
  font-size: 16px;
  color: #3c3c3c;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
}

.normalInput {
  width: 100%;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid silver;
}

.error {
  margin-top: 3px;
  margin-left: 5px;
  color: rgb(240, 8, 8);
  font-size: 12px;
  width: 100px;
  height: 29px;
}

.errorInput {
  border: 2px solid red;
  margin-top: 0;
}

.spaceErrorMsg{
  margin-top: 0;
  height: 30px;
}