.wrapper {
  width: 203px;
  padding: 20px 20px 8px 0px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

.wrapper .inputData {
  position: relative;
  height: 26px;
  width: 100%;
}

.wrapper .inputData .normalInput {
  height: 100%;
  width: 100%;
  border: none;
  margin-top: 4px;
  border: 3px solid #ECECEC;
}

.wrapper .inputData .normalInputRed {
  height: 100%;
  width: 100%;
  border: none;
  margin-top: 4px;
  color: #FAFAFA;
  background-color: #ff3737;
  border: 3px solid #ff0808;
}

.wrapper .inputData .normalInputYellow {
  height: 100%;
  width: 100%;
  border: none;
  margin-top: 4px;
  color: #000000;
  background-color: #ffaa3b;
  border: 3px solid #ff7b00;
}

.wrapper .inputData .normalInputGreen {
  height: 100%;
  width: 100%;
  border: none;
  margin-top: 4px;
  color: #000000;
  background-color: rgb(93, 165, 86);
  border: 3px solid #00a716;
}

.wrapper .inputData input {
  height: 100%;
  width: 100%;
  border: none;
  margin-top: 4px;
  border: 3px solid #ECECEC;
}

.inputData input:focus ~ .dateLabel,
.inputData input:not(:placeholder-shown) ~ .dateLabel {
  transform: translateY(-25px);
  padding: 5px;
  outline: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 14px
}

.inputData input:focus ~ .dateLabelRed,
.inputData input:not(:placeholder-shown) ~ .dateLabelRed {
  transform: translateY(-25px);
  padding: 5px;
  outline: none;
  color: #ff3333;
  font-weight: bold;
  font-size: 14px
}

.inputData input:focus ~ .dateLabelYellow,
.inputData input:not(:placeholder-shown) ~ .dateLabelYellow {
  transform: translateY(-25px);
  padding: 5px;
  outline: none;
  color: #ff9100;
  font-weight: bold;
  font-size: 14px
}

.inputData input:focus ~ .dateLabelGreen,
.inputData input:not(:placeholder-shown) ~ .dateLabelGreen {
  transform: translateY(-25px);
  padding: 5px;
  outline: none;
  color: #00a716;
  font-weight: bold;
  font-size: 14px
}

.wrapper .inputData label {
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.3s ease;
}

.normalInput {
  width: 100%;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid silver;
}

.error {
  color: rgb(240, 8, 8);
  font-size: 12px;
  width: 100%;
  margin: 15px 0 5px 0;
}

.errorInput {
  margin-top: 0;
}

.spaceErrorMsg{
  margin-top: 0;
}