@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  gap: 20px;
  background-color: #FAFAFA;
}

.containerBody {
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 40px;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
}

.sectionAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitleContainer {
  color: #252440;
  font-size: 20px;
  margin-bottom: 50px;
  width: 50%;
  font-weight: bold;
  text-align: center;
}

.subTitle {
  color: white;
  padding-top: 200px;
  font-size: 25px;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
}

.infoContainer {
  display: flex;
  text-align: left;
  width: 70%;
  align-items: center;
}

.infoText {
  margin-left: 20px;
}

.textTitle {
  position: absolute;
  z-index: 2;
  color: #252440;
  font-size: 24px;
  text-align: center;
  width: 50%;
}

.imgMenu {
  width: 600px;
  height: 300px;
  border: 3px solid #252440;
}

.infoText {
  color: #252440;
  font-size: 16px;
}

.funcionesTitle {
  margin-top: 20px;
  margin-bottom: 100px;
  color: #FAFAFA;
  font-size: 30px;
  text-align: center;
  width: 50%;
}

.sectionFunciones {
  margin-top: 100px;
}

.sectionFuncionesTop{
  display: flex;
  text-align: center;
}

.youtubeVideo {
  margin-bottom: 50px;
}

.imgFuncionalidad {
  width: 25px;
  height: 25px;
}

.titleFuncionalidad {
  color: #FAFAFA;
  margin: 0;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

.textFuncionalidad {
  color: #FAFAFA;
  font-size: 15px;
}

.sectionFuncionesInner {
  width: 30%;
  margin-left: 40px;
  margin-bottom: 100px;
}

.sectionFuncionesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sectionFunciones {
  display: flex;
  flex-direction: column;
  background-color: #252440;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 20px;
}

.sectionTitleWhite {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--secondary-dark);
  color: var(--white);
  text-transform: uppercase;
  font-size: 65px;
}

.sectionTitleBlue {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--secondary-dark);
  color: #252440;
  text-transform: uppercase;
  font-size: 65px;
}

.sectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.containerSectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.bannerVideo {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.bannerVideo,
.containerSectionHead,
.content{
  min-height: 470px;
  height: 100vh;
}

.spanSectionHead {
  width: 100%;
  text-align: center;
}

.sectionHead span img {
  width: 90%;
}

.sectionAboutFlexContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 90%;
  gap: 20px;
}

.sectionAboutImg {
  display: flex;
  order: 1;
}

.sectionAboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sectionAboutContainerTwo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sectionAboutTextDesktop {
  width: 95%;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
}

.sectionAboutImage {
  width: 45%;
  border: solid 5px var(--secondary-dark);
  border-radius: 5px;
}


.activities{
  height: auto;
  margin-bottom: 50px;
}

.sectionFeaturesTitles {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.featuresIcons {
  width: 50px;
}

.Text {
  width: 95%;
  font-size: 14px;
  color: var(--white);
  font-size: 18px;
}

.sectionFeaturesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 2rem;
}

.sectionFeaturesArticles {
  width: 50%;
}

.sectionActivities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sectionActivitiesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--secondary);
  margin: 0;
  padding: 20px;
  border-radius: 5px;
}

.activityItem {
  list-style: none;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  color: var(--primary);
  letter-spacing: 1px;
}

.sectionActivities img {
  max-width: 70%;
  height: auto;
}

.getInTouch {
  background-color: var(--white);
  padding-bottom: 50px;
}

.sectionTouchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
  gap: 20px;
}

.sectionTouchForm div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.formButtonDesktop {
  align-self: flex-end;
  width: 76px;
  height: 33px;
  margin-top: 30px;
  border-width: 0px;
  border-radius: 5px;
  background: var(--secondary);
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: var(--primary);
  cursor: pointer;
}

.formButtonTop {
  display: none;
}

.formInput {
  width: 260px;
  height: 36px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.formInput::placeholder {
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm select {
  width: 270px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm textarea {
  width: 265px;
  height: 210px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.sectionTouchForm textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

.sectionTouchForm label {
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary);
}

.memberships {
  background-color: var(--primary);
  width: 100%;
  padding-bottom: 70px;
}

.sectionMembership {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: var(--primary);
  margin-bottom: 30px;
}

.cardMembership {
  display: flex;
  background-color: var(--white);
  max-width: 30%;
  width: 20rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

.cardMembership:hover {
  transform: scale(1.01);
}

.cardTitle {
  font-size: 40px;
  color: var(--secondary-dark);
  line-height: 1;
}

.cardBody {
  display: flex;
  color: var(--primary);
  align-items: center;
  flex-direction: column;
  height: 220px;
}

.cardBody li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 12px;
}

.cardInfo {
  background-color: var(--secondary-dark);
  color: var(--white);
  display: flex;
  font-size: 20px;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  cursor:pointer;
}

.cardInfo:hover{
  filter:brightness(1.04);
}

.checkIcon {
  width: 20px;
}

.benefitsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  margin: 0;
  padding: 0 10px;
}

.benefitsList img {
  margin: 0;
  padding: 0;
}

.benefitsList p {
  margin: 0;
  padding: 0;
}

.sectionMembershipTable {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border-collapse: collapse;
  text-align: center;
}

.tableTh1 {
  width: 40%;
}

.tableTh2 {
  width: 25%;
}

.tableTh3 {
  width: 17%;
}

.sectionMembershipTable tr:nth-child(odd) {
  background-color: var(--ligth-grey);
}

.sectionMembershipTable tr {
  height: 60px;
}

.sectionAboutTextDesktop {
  display: flex;
}

.info {
  display: none;
}

