.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  background-color: #3C3C3C;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
  color:white;
}

.socialIcon {
  margin-left: 15px;
  filter: invert();
}

.homeButtons{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.textList{
  color: white;
  text-decoration: none;
}

.header{
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 16px 24px;
    width: 60%;
    position: absolute;
    left: 17%;
    z-index: 3;
    opacity: 1;
    background: #3C3C3C;
    color: rgb(52, 71, 103);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    backdrop-filter: saturate(200%) blur(30px);
}

.buttonBack {
  display: flex;
  cursor:pointer;
  align-items: center;
  color: white;
  background-color: #3C3C3C;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 40px;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 20%;
  }
}
