.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  background-color: #3C3C3C;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
  color:white;
}

.socialIcon {
  margin-left: 15px;
  filter: invert();
}

.homeButtons{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.textList{
  color: white;
  text-decoration: none;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3C3C3C;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 40px;
}

.buttonBack {
  display: flex;
  cursor:pointer;
  align-items: center;
  color: white;
  background-color: #3C3C3C;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 40px;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 20%;
  }
}
