.wrapper {
  width: 210px;
  padding: 20px 20px 2px 0px;
  background-color: transparent;
}

.optionInput:focus {
  outline: none;
}

.optionInput::-moz-focus-inner {
  border: 0;
}

.wrapper .inputData {
  position: relative;
  height: 32px;
  width: 100%;
}

.inputLabel {
  font-weight: bold;
  padding: 5px;
}

.wrapper .inputData select {
  height: 100%;
  width: 100%;
  margin-top: 4px;
  border: 3px solid #ECECEC;
}

.inputData select:focus ~ label,
.inputData select:not(:placeholder-shown) ~ label {
  transform: translateY(-31px);
  color: #BFBFBF;
  outline: none;
  font-size: 14px
}

.wrapper .inputData label{
  position: absolute;
  bottom: 0px;
  left: 0;
  color:rgb(128, 128, 128);
  transition: all 0.3s ease;
}

.optionText {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #3c3c3c;
}

.error {
  color: rgb(240, 8, 8);
  font-size: 12px;
  width: 100%;
  margin: 10px 0 5px 5px;
}

.errorInput {
  margin-top: 0;
}

.spaceErrorMsg{
  margin-top: 0;
}

.btnGroup {
  display: flex;
  flex-direction: column;
}
