.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imgTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../../public/assets/images/inspeccionSiniestroImg2.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.imgText {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.innerContainer {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  overflow: visible;
  padding: 16px;
  margin-top: -64px;
  margin-bottom: 32px;
  background-color: #F2F2F2;
  backdrop-filter: saturate(200%) blur(30px);
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}

.tableTop {
  width: 70%;
}

.inputContainer {
  padding-top: 5px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  margin-top: 10px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
}


.inputGroups {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-top: 10px;
}

.inputGroupsTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-top: 10px;
}


.topRow {
  display: flex;
  flex-direction: row;
}

.bottomRow {
  display: flex;
  flex-direction: row;
}

.firstColumn, .secondColumn, .thirdColumn, .fourthColumn {
  display: flex;
  flex-direction: column;
}


.submitButton {
  display: inline;
  background-color: var(--Green);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.submitButton:hover {
  background-color: var(--Blue);
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.nameLabel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  background: #252440;
  color: #FAFAFA;
  overflow: hidden;
  border: 3px solid #ECECEC;
  font-size: 14px;
  width: 100%;
}

.table tr td,
.table tr th {
  padding: 5px 15px 5px 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  transition: all 0.1s;
}

.table tr td:nth-last-child(-n + 2):hover {
  background-color: #3C3C3C;
  transform: scale(1.2);
}

.rowBackground1 {
  background-color: #f0f0f1;
  color: #3C3C3C;
  font-weight: bold;
}

.rowBackground2 {
  background-color: #FFFFFF;
  color: #3C3C3C;
  font-weight: bold;
}

.checkboxInput {
  width: 15px;
  height: 15px;
  margin-left: 30px;
}

.trash_edit {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioContainer div{
  margin: 0 10px;
  font-size: 15px;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnContainerEvento {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.formEvento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  margin: 10px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  max-width: 460px;
  margin-bottom: 10px;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.tableContainerRueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font: 150% sans-serif;
  color: #252440;
  background-color: #FAFAFA;
  border: 3px solid #ECECEC;
  font-size: 20px;
  font-weight: bold;
}